<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blog1946</title>

    <!-- 加载静态文件模板库 -->
    {% load static %}

    <!-- 使用双引号统一，并正确闭合 -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <Link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header class="p-3 bg-light border-bottom mb-3 text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">首页</a></li>
                <li><a href="#" class="nav-link px-2 secondary">发布博客</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="搜索..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-primary me-2">登录</button>
                <button type="button" class="btn btn-primary me">注册</button>
            </div>
        </div>
    </div>
</header>
<main class="container bg-white p-3 rounded">
    <h1>Django课程详情</h1>
    <hr>
    <div class="mt-2">
        <img src="{% static 'image/a.jpg' %}" class="rounded-circle" width="30" height="30" alt="">
        <span class="ms-2">AR</span>
        <span class="ms-2">于</span>
        <span class="ms-2">1946年2月21日 11：28</span>发布
    </div>
    <hr>
    <div class="py-2">
        这是博客详情
    </div>
    <hr>
    <div class="mt-2">
        <h3>评论（10）</h3>
        <from action="" method="POST">
            <div class="mt-2">
                <input type="text" class="form-control" placeholder="请输入评论">
            </div>
            <div class="text-end mt-2">
                <button type="button" class="btn btn-primary">评论</button>
            </div>
        </from>
    </div>
    <div class="mt-2">
        <ul class="list-group list-group-flush">

            <li class="list-group-item">
                <div class="d-flex justify-content-between text-body-secondary">
                    <div class="user-info">
                        <img src="{% static 'image/a.jpg' %}" class="rounded-circle" width="40" height="40" alt="">
                        <span class="ms-2">AR</span>
                    </div>
                    <div class="creat-time" style="Line-height: 40px;">1946年2月21日 11:28</div>
                    </div>
                <div class="mt-2">这是评论的内容</div>
            </li>
    </ul>
        <hr>
        <ul class="list-group list-group-flush">

            <li class="list-group-item">
                <div class="d-flex justify-content-between text-body-secondary">
                    <div class="user-info">
                        <img src="{% static 'image/a.jpg' %}" class="rounded-circle" width="40" height="40" alt="">
                        <span class="ms-2">AR</span>
                    </div>
                    <div class="creat-time" style="Line-height: 40px;">1946年2月21日 11:28</div>
                    </div>
                <div class="mt-2">这是评论的内容</div>
            </li>
    </ul>
    </div>
</main>
</body>
</html>